<% if current_user.follower_users.any? %>
  <h3>follow (<%= @users.count %>)</h3>
  <dl id="follower">
    <% @follower_pages.each do |user|%>
      <dd class="clearfix">
        <%= gravatar_for user %>
        <%= user.name %>
      </dd>
    <br><hr>
    <% end%>
  </dl>
<% else %>
    <div>友達がいません</div>
<% end %>
<%=paginate(@follower_pages) %>