    <% if current_user.following_users.any? %>
      <h3>follow (<%= @current_user.following_relationships.count %>)</h3>
    <% @users.each do |user|%>
      <div class="follow"><%= gravatar_for user %>
      <%= user.name %></div><br><hr>
    <% end%>
    <% else %>
     <ol>友達がいません</ol>
    <% end %>