    <% if current_user.following_users.any? %>
      <h3>follow (<%= @current_user.following_relationships.count %>)</h3>
      <ol class="follow">
    <% @users.each do |user|%>
      <%= gravatar_for user %>
      <h2><%= user.name %></h2><br />
    <% end%>
      </ol>
    <% else %>
     <ol>友達がいません</ol>
    <% end %>