<% if current_user.follower_users.any? %>
  <h3>follow (<%= @current_user.follower_relationships.count %>)</h3>
<% @users.each do |user|%>
  <div class="follower"><%= gravatar_for user %>
  <%= user.name %></div><br><hr>
<% end%>
<% else %>
  <ol>友達がいません</ol>
<% end %>